﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="Supermarket._default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    </head>
<body style="height: 387px">
    <form id="form1" runat="server">
       
    <div>
        <body bgcolor="black"></body>
        
        <p align="center">&nbsp;</p>
        <p align="center">&nbsp;</p>
        <p align="center">&nbsp;</p>
        <p align="center">&nbsp;</p>
        <p align="center">&nbsp;</p>
        <p align="center">&nbsp;</p>
        <p align="center"><font color="white">Kullanıcı Paneli</font> </p>
        <p align="center"><font color="white">Kullanıcı Adı: <asp:TextBox ID="txtkuladi" runat="server"></asp:TextBox>
        <p align="center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sifre: <asp:TextBox ID="txtsifre" runat="server" TextMode="Password"></asp:TextBox>
        </p>
    <p align="center" style="margin-left: 80px"><asp:Button ID="btngiris" runat="server" Text="Giriş" OnClick="btngiris_Click" />
        <p align="center" style="margin-left: 80px">
            <asp:Label ID="lblMesaj" runat="server"></asp:Label>
        </div>
        <div>

            
</div>
    </form>
</body>
</html>
