﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="KullaniciEkle.aspx.cs" Inherits="Supermarket.KullaniciEkle" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <body bgcolor="black"></body>
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 145px;
        }
        .auto-style2
        {
            width: 145px;
            height: 151px;
        }
        .auto-style3
        {
            height: 151px;
        }
        .auto-style11
        {
            width: 1084px;
            height: 145px;
        }
        .auto-style12
        {
            height: 151px;
            width: 1071px;
        }
        .auto-style13
        {
            width: 1071px;
            text-align: left;
        }
        .auto-style14
        {
            width: 145px;
            height: 197px;
        }
        .auto-style15
        {
            width: 1071px;
            height: 197px;
            text-align: left;
        }
        .auto-style16
        {
            height: 197px;
        }
    </style>
</head>
<body style="color:white;">
    <form id="form1" runat="server">
    <table style="width:1366px; height:768px;">
        <tr>
            <td class="auto-style2"></td>
            <td class="auto-style12"><img alt="" class="auto-style11" src="images/banner1.jpg" /></td>
            <td class="auto-style3">
                <asp:Label ID="lbluye" runat="server" ForeColor="White"></asp:Label>
            </td>
        </tr>
        <tr>
<td class="auto-style14">
<asp:Button ID="btUrunler" runat="server" Height="42px" OnClick="btUrunler_Click" Text="Ürünler" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnurngrs" runat="server" Height="42px" OnClick="btnurngrs_Click" Text="Ürün Girişi" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnkullaniciekle" runat="server" Height="42px" OnClick="btnkullaniciekle_Click" Text="Kullanici Ekle" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="Button3" runat="server" Height="42px" OnClick="btUrunler_Click" Text="ÜRÜNLER" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="Button4" runat="server" Height="42px" OnClick="btUrunler_Click" Text="ÜRÜNLER" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" /></td>
            <td class="auto-style15" style="vertical-align:top; ">
              
                 
                <br />
&nbsp;&nbsp;&nbsp; ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <asp:TextBox ID="txtkulid" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp;
                Tc Kimlik No:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <asp:TextBox ID="txtkultc" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp;
                Adı:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <asp:TextBox ID="txtkuladi" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp;
                Soyadı:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; <asp:TextBox ID="txtkulsoyad" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp;
                Şifre:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <asp:TextBox ID="txtkulsifre" runat="server"></asp:TextBox>
              
                 
            </td>
            <td class="auto-style16"></td>
        </tr>
        <tr>
            <td class="auto-style1"></td>
            <td class="auto-style13" style="vertical-align:top;">&nbsp;&nbsp;&nbsp;
                <br />
&nbsp;&nbsp; Doğum Yeri:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
                <asp:TextBox ID="txtkuldgmyer" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp; Doğum Tarihi:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="txtkuldgmtar" runat="server"></asp:TextBox>
                <br />
                <br />
&nbsp;&nbsp; Bölüm:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="txtkulbolum" runat="server"></asp:TextBox>
                <br />
                <br />
&nbsp;&nbsp; İşe başlama Tarihi:&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="txtkulisbas" runat="server"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                <br />
&nbsp;&nbsp; Yetki:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:TextBox ID="txtkulyetki" runat="server"></asp:TextBox>
                <br />
                &nbsp;<br />
                <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Button ID="btnkydt" runat="server" OnClick="btnkydt_Click" Text="Kaydet" />
            </td>
            <td></td>
        </tr>
    </table>
    
    
    </form>
</body>
</html>
