﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PersonelListe.aspx.cs" Inherits="Supermarket.PersonelListe" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <body bgcolor="black"></body>
    <title></title>
    <style type="text/css">
        .auto-style1
        {
        }
        .auto-style2
        {
            width: 145px;
            height: 151px;
        }
        .auto-style3
        {
            height: 151px;
        }
        .auto-style11
        {
            width: 1084px;
            height: 145px;
        }
        .auto-style12
        {
            height: 151px;
            width: 1071px;
        }
        .auto-style14
        {
            width: 145px;
            height: 197px;
        }
        .auto-style15
        {
            width: 1071px;
            height: 197px;
        }
        .auto-style16
        {
            height: 197px;
        }
    </style>
</head>
<body style="color:white;">
    <form id="form1" runat="server">
    <table style="width:1366px; height:388px;">
        <tr>
            <td class="auto-style2"></td>
            <td class="auto-style12"><img alt="" class="auto-style11" src="images/banner1.jpg" /></td>
            <td class="auto-style3">
                <asp:Label ID="lbluye" runat="server" ForeColor="White"></asp:Label>
            </td>
        </tr>
        <tr>
<td class="auto-style14">
<asp:Button ID="btUrunler" runat="server" Height="42px" OnClick="btUrunler_Click" Text="Ürünler" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnurngrs" runat="server" Height="42px" OnClick="btnurngrs_Click" Text="Ürün Girişi" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnkullaniciekle" runat="server" Height="42px" OnClick="btnkullaniciekle_Click" Text="Kullanici Ekle" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnPerList" runat="server" Height="42px" OnClick="btnPerList_Click" Text="Personel Listesi" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
            <br />
    <asp:Button ID="btnUrunSil" runat="server" Height="42px" OnClick="btnUrunSil_Click" Text="ÜRÜN SİL" Width="145px" />
            </td>
            <td class="auto-style15" style="vertical-align:top; ">
              
                  <asp:Repeater ID="Repeater2" runat="server"  >
                    <HeaderTemplate>
                            <table>
                        </HeaderTemplate>
                        <ItemTemplate>
                                <tr>
                                    <td><%# Eval("PersonelID") %></td>
                                    <td><%# Eval("PersonelAdi") %></td>
                                    <td><%# Eval("PersonelSoyad") %></td>
                                    <td><%# Eval("PersonelMaas") %></td>
                                    <td><%# Eval("PersonelAdres") %></td>
                                    <td><%# Eval("PersonelTel") %></td>
                                    <td><%# Eval("Personelisbaslangic") %></td>
                                    <td><%# Eval("PersonelDogumTar") %></td>
                                    <td><%# Eval("PersonelDogumYer") %></td>
                                    <td><%# Eval("PersonelBolum") %></td>
                                </tr>
                           
                        </ItemTemplate>
                        <FooterTemplate>
                            </table>
                        </FooterTemplate>
                </asp:Repeater>
            </td>
            <td class="auto-style16"></td>
        </tr>
        <tr>
            <td class="auto-style1" colspan="3"></td>
        </tr>
    </table>
    
    
    </form>
    <p>
        </p>
</body>
</html>
