﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PersonelGiris.aspx.cs" Inherits="Supermarket.PersonelGiris" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <body bgcolor="black"></body>
    <title></title>
    <style type="text/css">
        .auto-style1
        {
            width: 145px;
        }
        .auto-style2
        {
            width: 145px;
            height: 151px;
        }
        .auto-style3
        {
            height: 151px;
        }
        .auto-style11
        {
            width: 1084px;
            height: 145px;
        }
        .auto-style12
        {
            height: 151px;
            width: 1071px;
        }
        .auto-style13
        {
            width: 1071px;
            text-align: left;
        }
        .auto-style14
        {
            width: 145px;
            height: 197px;
        }
        .auto-style15
        {
            width: 1071px;
            height: 197px;
            text-align: left;
        }
        .auto-style16
        {
            height: 197px;
        }
    </style>
</head>
<body style="color:white;">
    <form id="form1" runat="server">
    <table style="width:1366px; height:768px;">
        <tr>
            <td class="auto-style2"></td>
            <td class="auto-style12"><img alt="" class="auto-style11" src="images/banner1.jpg" /></td>
            <td class="auto-style3">
                <asp:Label ID="lbluye" runat="server" ForeColor="White"></asp:Label>
            </td>
        </tr>
        <tr>
<td class="auto-style14">
<asp:Button ID="btUrunler" runat="server" Height="42px" OnClick="btUrunler_Click" Text="Ürünler" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnurngrs" runat="server" Height="42px" OnClick="btnurngrs_Click" Text="Ürün Girişi" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnkullaniciekle" runat="server" Height="42px" OnClick="btnkullaniciekle_Click" Text="Kullanici Ekle" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="btnpersonelgir" runat="server" Height="42px" OnClick="btnpersonelgir_Click" Text="Personel Giriş" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" />
<asp:Button ID="Button4" runat="server" Height="42px" OnClick="btUrunler_Click" Text="ÜRÜNLER" Width="145px" BackColor="White" BorderColor="Black" ForeColor="Black" /></td>
            <td class="auto-style15" style="vertical-align:top; ">
              
                 
                <br />
&nbsp;&nbsp; Personel ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <asp:TextBox ID="txtprsid" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp; Personel Adı:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <asp:TextBox ID="txtprsadi" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp; Personel Soyadi:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <asp:TextBox ID="txtprssoyad" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp;
                Personel Maas:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <asp:TextBox ID="txtprsmaas" runat="server"></asp:TextBox>
                <br />
                <br />
                &nbsp;&nbsp;
                Personel Adres:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <asp:TextBox ID="txtprsadres" runat="server"></asp:TextBox>
              
                 
            </td>
            <td class="auto-style16"></td>
        </tr>
        <tr>
            <td class="auto-style1"></td>
            <td class="auto-style13" style="vertical-align:top;">&nbsp;
                <br />
&nbsp; Personel Tel:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:TextBox ID="txtprstel" runat="server"></asp:TextBox>
              
                 
                <br />
                <br />
&nbsp; Personel İş Başlangıç Tarihi:&nbsp;&nbsp;&nbsp; <asp:TextBox ID="txtprsisbas" runat="server"></asp:TextBox>
              
                 
                <br />
                <br />
&nbsp; Personel Doğum Tarihi:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:TextBox ID="txtprsdgmtar" runat="server"></asp:TextBox>
              
                 
                <br />
                <br />
&nbsp; Personel Doğum Yeri:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:TextBox ID="txtprsdgmyer" runat="server"></asp:TextBox>
              
                 
                <br />
                <br />
&nbsp; Personel Bölüm:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <asp:TextBox ID="txtprsbol" runat="server"></asp:TextBox>
              
                 
                <br />
                <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Button ID="btnkydt" runat="server" OnClick="btnkydt_Click" Text="Kaydet" style="height: 26px" />
            </td>
            <td></td>
        </tr>
    </table>
    
    
    </form>
</body>
</html>
